{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Site</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <div class="container-fluid bg-info">
    {% include 'navbar.html' %}
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-10">
            {% block msg %}
            {% endblock msg %}
        </div>
    </div>

    <div class="row">
            {% block side %}
            {% endblock side %}



            {% block content %}
            {% endblock content %}

    </div>

  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>