{% extends 'base.html' %}
{% load static %}
{% block msg %}
    {% if messages %}
      {% for message in messages %}
          <div class="mt-5">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{ message }}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>

          </div>
      {% endfor %}
    {% endif %}

{% endblock msg %}

{% block content %}
    <div class="col-sm-10">
        <div class="jumbotron justify-content-center">
            <h2 class="display-10 font-weight-bold">Change Password</h2>
        </div>
    </div>

    <div class="col-sm-6 form-group">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            {% for fm in form %}
                {{ fm.label_tag }}{{ fm }}{{ fm.errors|striptags }}
            {% endfor %}
        <input type="submit" value="Save" class="btn btn-success mt-5">
        <a href="{% url 'userprofile' %}" class="mt-5 btn btn-warning">Back</a>
        </form>
    </div>


{% endblock content %}