{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <div class="jumbotron justify-content-center">

                <h3 class="display-10 font-weight-bold">Log In Here</h3>
            </div>
    </div>

    <div class="col-sm-6">
            <form class="mt-5" method="post" action="" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {% for fm in form %}
                    {{ fm.label }} {{ fm }} {{ fm.errors|striptags }}
                    {% endfor %}
                </div>
                <input type="submit" class="btn btn-secondary" value="Login">
                {% if form.non_field_errors %}
                 {% for error in form.non_field_errors %}
                    <p class=" mt-5 btn btn-warning">{{ error }}</p>
                 {% endfor %}
                {% endif %}

            </form>




    </div>



{% endblock content %}