{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class=" col-sm-10">
        <div class="jumbotron justify-content-center">
                <h3 class="display-10 font-weight-bold">Sign Up Here</h3>
        </div>
    </div>
    <div class="col-sm-6">
        {% if messages %}
        {% for message in messages %}
            <h2 class="mt-5 btn btn-secondary">{{ message }}</h2>
        {% endfor %}
        {% endif %}
        <form class="mt-5" action="" method="post" novalidate>
            {% csrf_token %}
            {% for fm in form %}
                <div class="form-group">
                    {{ fm.label }} {{ fm }} {{ fm.errors|striptags }}
                </div>
            {% endfor %}

            <input type="submit" value="Create" class="mb-5 btn btn-secondary">


        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="btn-warning">{{ error }}</p>
        {% endfor %}
        {% endif %}


        </form>

    </div>



{% endblock content %}